{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "globals": {
        "__DEV__": true
    },
    "env": {
        "browser": true,
        "node": true,
        "jest": true,
        "es6": true
    },
    "rules": {
        "spaced-comment": 0,
        "object-curly-spacing": [2, "never", { "arraysInObjects": true }],
        "new-cap": [2, {
            "capIsNewExceptions": ["Map"]
        }],
        "react/jsx-filename-extension": [1, {
            "extensions": [".js", ".jsx"]
        }],
        "no-constant-condition": 0,
        "no-unused-expressions": 2,
        "semi": [1, "always"],
        "comma-dangle": [1, "always-multiline"],
        "no-restricted-globals": 0,
        "import/no-named-as-default": 0,
        "import/default": 0,
        "no-console": 0,
        "no-undef": 2,
        "camelcase": 1,
        "block-scoped-var": 2,
        "no-unused-vars": 1,
        "no-trailing-spaces": 1,
        "keyword-spacing": 1,
        "curly": [2, "multi-line"],
        "import/no-unresolved": [2, {"commonjs": true}],
        "react/jsx-uses-react": 2,
        "react/jsx-indent": [1, 4],
        "react/jsx-key": 2,
        "react/jsx-no-bind": 1,
        "indent": [1, 4],
        "react/jsx-no-duplicate-props": 2,
        "react/react-in-jsx-scope": 2,
        "react/jsx-uses-vars": 2,
        "react/jsx-no-undef": 2,
        "no-class-assign": 0
    },
    "plugins": ["react"]
}
